In [3]:
import pandas as pd

In [22]:
df=pd.read_csv('C:/Users/yulya/NLP hw/11.11/reviews.tsv', sep='\t')

In [23]:
df.head()

    permalink  rating                                        review_text
0  1000095379     4.0  –í–∫—É—Å–Ω–∞—è –ø–∏—Ç—Ü–∞, –µ—Å—Ç—Ç –ª–µ—Ç–Ω–µ–µ –∫–∞—Ñ–µ, –¥–æ—Å—Ç–∞–≤–∫–∞, –ø—Ä–∏...
1  1000095379     1.0  –î—É–º–∞–ª –º–æ–∂–Ω–æ –¥–Ω—ë–º —Å –¥–µ—Ç—å–º–∏ –ø–æ—Å–∏–¥–µ—Ç—å –Ω–∞ –æ—Ç–∫—Ä—ã—Ç–æ–π...
2  1000095379     4.0  –ï—Å—Ç—å –≤–µ—Ä–∞–Ω–¥–∞, –≤–∫—É—Å–Ω–∞—è –ø–∏—Ü—Ü–∞, –¥–µ–ª–∞—é—Ç –ø–æ –ø–æ–ª–æ–≤–∏–Ω...
3  1000095379     1.0                   –£–∂–µ –≤—Ç–æ—Ä–æ–π —Ä–∞–∑ –∑–∞–±–∏–≤–∞—é—Ç –Ω–∞ –∑–∞–∫–∞–∑
4  1000095379     5.0                                –õ—é–±–∏–º–∞—è –ø–∏—Ü—Ü–µ—Ä–∏—è! üëç

In [24]:
df.shape

(328645, 3)

In [27]:
df["rating"] == "None"

0         False
1         False
2         False
3         False
4         False
          ...
328640    False
328641    False
328642    False
328643    False
328644    False
Name: rating, Length: 328645, dtype: bool

In [42]:
df = df.drop(df[(df["rating"] == "Nan")].index)

In [43]:
df.shape

(328645, 3)

In [38]:
df = df.drop(df[(df["review_text"] == "")].index)

In [39]:
df.shape

(328645, 3)

In [7]:
df = df.drop(df[(df["rating"] == 0.0)].index)

In [9]:
df.shape

(328528, 3)

In [49]:
df=df.dropna()

In [50]:
X = df["review_text"]

In [51]:
y = df["rating"]

In [52]:
y.head()

0    4.0
1    1.0
2    4.0
3    1.0
4    5.0
Name: rating, dtype: float64

In [53]:
from sklearn.model_selection import train_test_split

In [54]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=11)

In [ ]:
preprocess textual data

In [ ]:
vectorization

In [55]:
from sklearn.linear_model import LogisticRegression

In [56]:
LR = LogisticRegression(solver='lbfgs', random_state=55)

–¥–∞–ª—å—à–µ –ø–æ–ø—ã—Ç–∫–∏ –∫–æ–¥–∞ –Ω–µ –ø–æ –¥–æ–º–∞—à–∫–µ. –Ω–æ —Ö–æ—Ç–∏–º –ø–æ–ø—Ä–æ–±–æ–≤–∞—Ç—å –ø–æ –¥–æ–º–∞—à–∫–µ.

In [4]:
import numpy as np 
import pandas as pd 
import re
import nltk 
import matplotlib.pyplot as plt
%matplotlib inline

In [11]:
#features = df.iloc[:, 10].values
labels = df.iloc[:, 1].values

In [12]:
print(labels)

[4. 1. 4. ... 5. 1. 1.]

In [13]:
labels = df['rating']

In [14]:
labels

0         4.0
1         1.0
2         4.0
3         1.0
4         5.0
         ...
328640    5.0
328641    5.0
328642    5.0
328643    1.0
328644    1.0
Name: rating, Length: 328645, dtype: float64

In [21]:
features = df.drop("rating", axis=1)
# df_drop_column.drop("type", axis=1)

In [22]:
features

           permalink                                        review_text
0         1000095379  –í–∫—É—Å–Ω–∞—è –ø–∏—Ç—Ü–∞, –µ—Å—Ç—Ç –ª–µ—Ç–Ω–µ–µ –∫–∞—Ñ–µ, –¥–æ—Å—Ç–∞–≤–∫–∞, –ø—Ä–∏...
1         1000095379  –î—É–º–∞–ª –º–æ–∂–Ω–æ –¥–Ω—ë–º —Å –¥–µ—Ç—å–º–∏ –ø–æ—Å–∏–¥–µ—Ç—å –Ω–∞ –æ—Ç–∫—Ä—ã—Ç–æ–π...
2         1000095379  –ï—Å—Ç—å –≤–µ—Ä–∞–Ω–¥–∞, –≤–∫—É—Å–Ω–∞—è –ø–∏—Ü—Ü–∞, –¥–µ–ª–∞—é—Ç –ø–æ –ø–æ–ª–æ–≤–∏–Ω...
3         1000095379                   –£–∂–µ –≤—Ç–æ—Ä–æ–π —Ä–∞–∑ –∑–∞–±–∏–≤–∞—é—Ç –Ω–∞ –∑–∞–∫–∞–∑
4         1000095379                                –õ—é–±–∏–º–∞—è –ø–∏—Ü—Ü–µ—Ä–∏—è! üëç
...              ...                                                ...
328640  245591834558                            –û—á–µ–Ω—å –≤–∫—É—Å–Ω–∞—è –ø–∏—Ü—Ü–∞!!!!
328641  245591834558  –õ—É—á—à–∏–π –±–æ—Ä—â –Ω–∞ –†–æ–∑–∞ –•—É—Ç–æ—Ä!!! –ë–æ–ª—å—à–∞—è –ø–æ—Ä—Ü–∏—è, —Ç...
328642  245591834558                        –í—Å–µ –ø–æ–Ω—Ä–∞–≤–∏–ª–æ—Å—å! –ü–∏—Ü—Ü–∞ –Ω–æ—Ä–º
328643  245591834558  –æ–±—Å–ª—É–∂–∏–≤–∞–Ω–∏–µ –Ω–æ—Ä–º–∞–ª—å–Ω–æ–µ, —Å–æ–æ—Ç–Ω–æ—à–µ–Ω–∏–µ —Ü–µ–Ω–∞/–∫–∞—á–µ...
328644  245591834558  –û–æ–æ—á–µ–Ω—å –¥–æ–ª–≥–æ–µ –æ–±—Å–ª—É–∂–∏–≤–∞–Ω–∏–µ.  –ù–µ–æ–±–æ—Å–Ω–æ–≤–∞–Ω–Ω–æ –≤—ã...

[328645 rows x 2 columns]